{% extends "home.html" %}

{% block main %}
    {% if prestamo %}
        <form method="POST" action="{% url 'inventario:actualizar_prestamo' prestamo.id %}">
        
    {% else %}
        <form method="POST" action="{% url 'inventario:guardar_prestamo' %}">
    {% endif %}
    {% csrf_token %}
    <div>
        <label>Fecha devolucion esperada</label>
        <p>{{formulario.fecha_devolucion_esperada}}</p>
    </div>
    <br>
    {% if prestamo %}
        <div>
            <label>Fecha devolucion</label>
            <p>{{formulario.fecha_devolucion}}</p>
        </div>
        <br>
        <div>
            <label>Observaciones devolucion</label>
            <p>{{formulario.observaciones_devolucion}}</p>
        </div>
        <br>
    {% endif %}
    <div>
        <label>Estado prestamo</label>
        <p>{{formulario.estado_prestamo}}</p>
    </div>
    <br>
    {% if not prestamo %}
        <div>
            <label>Observaciones entrega</label>
            <p>{{formulario.observaciones_entrega}}</p>
        </div>
        <br>
        <div>
            <label>Item</label>
            <p>{{formulario.item}}</p>
        </div>
        <br>
    {% endif %}
    <button type="submit">
        Guardar
    </button>
</form>
{% endblock %}