{% extends "home.html" %}

{% block main %}
    {% if categoria %}
        <form method="POST" action="{% url 'inventario:actualizar_categoria' categoria.id %}">
        
    {% else %}
        <form method="POST" action="{% url 'inventario:guardar_categoria' %}">
    {% endif %}
    {% csrf_token %}
    <div>
        <label>Nombre Categoria</label>
        <p>{{formulario.nombre_categoria}}</p>
    </div>
    <br>
    <div>
        <label>Descripción Categoria</label>
        <p>{{formulario.descripcion_categoria}}</p>
    </div>
    <br>

    <button type="submit">
        Guardar
    </button>
</form>
{% endblock %}