{% extends "home.html" %}

{% block main %}
    {% if item %}
        <form method="POST" action="{% url 'inventario:actualizar_item' item.id %}">
        
    {% else %}
        <form method="POST" action="{% url 'inventario:guardar_item' %}">
    {% endif %}
    {% csrf_token %}
    <div>
        <label>Nombre item</label>
        <p>{{formulario.nombre_item}}</p>
    </div>
    <br>
     {% if not item %}
        <div>
            <label>Marca item</label>
            <p>{{formulario.marca_item}}</p>
        </div>
        <br>
    {% endif %}
    <div>
        <label>Descripción item</label>
        <p>{{formulario.descripcion_item}}</p>
    </div>
    <br>
    <div>
        <label>Ubicacion item</label>
        <p>{{formulario.ubicacion_item}}</p>
    </div>
    <br>
    <div>
        <label>Estado item</label>
        <p>{{formulario.estado_item}}</p>
    </div>
    <br>
    <div>
        <label>Categoria</label>
        <p>{{ formulario.categoria }}</p>
    </div>
    <br>
    {% if not item %}
        <div>
            <label>Fecha compra item</label>
            <p>{{formulario.fecha_compra}}</p>
        </div>
        <br>
        <div>
            <label>Valor item</label>
            <p>{{formulario.valor_item}}</p>
        </div>
        <br>
    {% endif %}
    <button type="submit">
        Guardar
    </button>
</form>
{% endblock %}