{% extends "home.html" %}

{% block main %}
    <h2>Gestión de Items</h2>

<div>
    <a href="{% url 'inventario:crear_item' %}">
        Crear nuevo Item
    </a>
</div>

<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Marca</th>
            <th>Descripcion</th>
            <th>Ubicacion</th>
            <th>Fecha Registro</th>
            <th>Fecha Compra</th>
            <th>Valor</th>
            <th>Estado</th>
            <th>Categoria</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>

        {% for item in items %}
        <tr>
            <td>
                {{ item.nombre_item }}
            </td>
            <td>
                {{ item.marca_item }}
            </td>
            <td>
                {{ item.descripcion_item }}
            </td>
            <td>
                {{ item.ubicacion_item }}
            </td>
            <td>
                {{ item.fecha_registro }}
            </td>
            <td>
                {{ item.fecha_compra }}
            </td>
            <td>
                {{ item.valor_item }}
            </td>
            <td>
                {{ item.get_estado_item_display }}
            </td>
            <td>
                {{ item.categoria.nombre_categoria }}
            </td>
            <td>

                <a href="{% url 'inventario:actualizar_item' item.id %}">
                    Actualizar
                </a>

                <a href="{% url 'inventario:eliminar_item' item.id %}">
                    Eliminar
                </a>

            </td>
        </tr>
        {% empty %}
        <tr>
            <td>
                No hay items registrados
            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>
{% endblock %}